<div class="col-12">
    <div class="main-card mb-3 card">
        <div class="card-body">
            <h5 class="card-title">Algorithm Performance</h5>
            <table class="mb-0 table table-striped">
                <thead>
                    <tr>
                        <th>Passes</th>
                        <th>Max Happiness</th>
                        <th>Mean Happiness</th>
                        <th>Max Sadness</th>
                        <th>Mean Sadness</th>
                        <th>Total Execution Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><h4 class="text-notice">{{passes}}</h4></td>
                        <td><h4 class="text-success">{{maxHappy}}</h4></td>
                        <td><h4 class="text-primary">{{meanHappy}}</h4></td>
                        <td><h4 class="text-warning">{{sadMembers}}</h4></td>
                        <td><h4 class="text-danger">Avg Sad</h4></td>
                        <td><h4 class="text-info">{{execution}}</h4></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>