<div class="card mb-3 widget-chart widget-chart2 text-left">
    <div class="widget-chat-wrapper-outer">
        <div class="widget-chart-content">
            <div class="widget-chart-flex">
                <div class="widget-title">{{title}}</div>
                <div class="widget-subtitle text-muted">{{subtitle}}</div>
            </div>
            <div class="widget-chart-flex">
                <div class="widget-numbers">
                    <small>$</small>
                    {{total}}
                </div>
                <div class="widget-description ml-auto text-success">
                    <i class="fa fa-angle-up "></i>
                    <span class="pl-1">{{count}}</span></div>
            </div>
        </div>
        {{#if showProgress}}
        <div class="widget-progress-wrapper">
            <div class="progress-bar-sm progress-bar-animated-alt progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{perc}}" aria-valuemin="0" aria-valuemax="100" style="width: {{perc}}%;"></div>
            </div>
            <div class="progress-sub-label">{{progress}}</div>
        </div>
        {{/if}}
    </div>
</div>