<div class="instructor col-md-4">
    <div class="list-group">
        {{!-- <a href="#" class="list-group-item list-group-item-action active">Home</a> --}}
        <div class="list-group-item">
            <h4 class="list-group-item-heading">
                {{name}}
            </h4>
            <p class="list-group-item-text">
                {{type}}
            </p>
        </div>
        <div class="list-group-item">
            {{time.label}}
        </div>
        <div class="list-group-item">
            {{#each members as |member|}}
                <p class="list-group-item-text">
                    {{member.name}}
                </p>
            {{/each}}
        </div>
        <div class="list-group-item justify-content-between">
            Total <span class="badge badge-primary badge-pill">{{members.length}}</span>
        </div>
        <div class="list-group-item justify-content-between">
            Capacity <span class="badge badge-secondary badge-pill">{{capacity}}</span>
        </div>
    </div>
</div>